<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=dege,chrome=1" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>index.html</title>
</head>

<body>
	 <p align="center"><b>Hello World , Successfull !!!</b><br/></p> 
	 <p align="center">Spring Boot + SpringMVC + Thymleaf Intergration Successfull !</p>
	 <p align="center">
	 	<img th:src="@{/img/559547981.png}" />
	 </p>
	 <p align="center" style="color:#666;font-size:13px;font-weight:bold;"> 恭喜你，成功拉，有问题,进QQ群：559547981</p>
</body>
</html>